@import "./customFont.css";

html, body { 
    margin:5px; 
    padding:5px; 
    overflow:hidden;
    align-content: flex-start;
}

#svg_render { 
    position:fixed; 
    top:0; 
    left:0; 
    height:100%; 
    width:100% 
}